
@model Rocosa_Udemy.Models.ViewModels.HomeVM

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">Todos</button>

        @foreach (var cat in Model.Categorias)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@cat.NombreCategoria.Replace(' ','_')">
                @cat.NombreCategoria
            </button>
        }

    </div>
    <br />

    <div class="row">
        @foreach (var prod in Model.Productos)
        {
            // Desplegar todos los productos
            <partial name="_ProductoCard" model="@prod" />
        }
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>

}